html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
/* barvy 
    pozadí : #FAFAFA
    nadpis černá : #000000
    tlačítko šedá, text :#8B8B8B
    tlačítko modrá: #407BFF
    klasická bílá : #FFFFFF
    světle modrá : #407BFF
*/
body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
p {
  font-size: 16px;
  color: #8b8b8b;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

.text {
  font-size: 13px;
}

.button {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 39.5px;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin: 60px 0 15px 0;
}

/*jednotlivé prvky*/
/* obrázek*/

.hlavniObrazek {
  width: 350px;
  height: 290.5px;
  padding-top: 60px;
  display: block;
  margin: 0 auto 0 auto;
}

/* cara*/
svg {
  display: block;
  margin: 0 auto 30px auto;
}

/* tlačítka*/
.button {
  padding: 11px 0;
  height: 40px;
  margin: 0 auto 10px auto;
  border-radius: 20px;
  text-align: center;
}

.modry {
  border: 1px solid #407bff;
  background-color: #407bff;
  width: 195px;
  margin-top: 30px;
}

.sedy {
  border: 1px solid #8b8b8b;
  background-color: #8b8b8b;
  width: 220px;
  margin-bottom: 0;
}

/* flexboxy*/

.ikona {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  height: 80px;
  width: 460px;
  margin: 28px auto 15px auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px #407bff1f;
}

.obrazek {
  width: 45px;
  height: 40px;
}
.sesta {
  margin-bottom: 67px;
}
/*tablet version*/

@media screen and (min-width: 640px) {
  .button {
    margin: 30px auto 20px auto;
  }
  .modry {
    margin-right: 20px;
  }
  .sedy {
    margin-left: 20px;
  }
  .buttonky {
    display: flex;
    align-items: center;
  }

  .tablet {
    display: flex;
    justify-content: center;
  }
  .ikona {
    width: 230px;
    height: 172px;
    margin: 40px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
  }
  .obrazek {
    margin-bottom: 20px;
  }
  .dolni {
    margin-bottom: 60px;
  }
}

/* desktop version*/

@media screen and (min-width: 1100px) {
    .desktop{display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
margin-left: 0 80px 0 80px;
max-width: 1040px;}

    .picturebox{ width: 490px; height: 354px; margin: 60px 0 80px 0;}
    .hlavniObrazek {max-width: 425px;
    margin: 0 auto 0 auto;}

    .textbox { width: 490px; margin: 0 60px 80px 80px
        }

    h1 {margin-top: 133px;
    text-align: left;}
   .odstavec p {text-align: left;padding: 0;}
   .buttonky {justify-content: space-between;}
   .modry{margin-left: 0;
margin-right: 0;}

   svg {display: block;
margin: 10px 0 20px 0;}

   .box {display: flex;
justify-content: space-between;
margin: 0 80px 0 80px;
max-width: 1040px;}
   .tablet{width: 550px;}
   .fox p{width: 430px;
text-align: left;
padding: 0;}
h2 {text-align: left;}
.top{flex-direction: row-reverse ;}
    
}